<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="OptiAmazer is a web application that allows you optimize images for free."
    />
    <meta
      name="keywords"
      content="OptiAmazer, Optimize, Image, Free, Web, Application"
    />
    <meta name="author" content="Bartosz Buko" />
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.ico" />
    <title>OptiAmazer - 404</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/404.css" />
    <!-- javascript -->
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <h1>404</h1>
    <p>Page not found</p>
  </body>
</html>
