<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="OptiAmazer is a web application that allows you optimize images for free."
    />
    <meta
      name="keywords"
      content="OptiAmazer, Optimize, Image, Free, Web, Application"
    />
    <meta name="author" content="Bartosz Buko" />
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.ico" />
    <title>OptiAmazer</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- javascript -->
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <img src="/img/Logo.svg" class="logo" alt="OptiAmazer" />
      </div>
      <div class="header__title mobile__hidden">
        <h1>Free Image Optimizing and Compression</h1>
      </div>
    </header>
    <section class="description">
      <div class="description__containe">
        <div class="description__container__content">
          <p>
            Optimize your images for <span class="accent">free</span>. Only
            JPEG, GIF, WebP and PNG formats can be optimized. Images should have
            a maximum file size of <span class="accent">4MB</span>.
          </p>
        </div>
      </div>
    </section>
    <main class="main">
      <div class="main__container">
        <div class="main__container--form">
          <form
            action="/"
            method="POST"
            enctype="multipart/form-data"
            data-form
          >
            <div class="main__container__form__input">
              <label for="image" class="input__label">
                <img src="/img/Upload.svg" alt="Upload" />
                <p>Drop your file or click to upload</p>
              </label>
              <input
                type="file"
                onchange="this.form.submit()"
                name="image"
                id="image"
                accept="image/png, image/jpeg, image/gif, image/webp"
                required
                data-file
                multiple
              />
            </div>
          </form>
        </div>
      </div>
      <section class="summary" data-summary>
        <header class="summary__heading">
          <div class="heading__file--name heading__text">File Name</div>
          <div class="heading__other--info">
            <p class="heading__text">Original Size</p>
            <p class="heading__text">New Size</p>
            <p class="heading__text mobile__hidden">Savings</p>
            <p class="heading__text mobile__hidden">% Savings</p>
            <p class="heading__text mobile__hidden">Status</p>
          </div>
        </header>
        <template id="summary__template">
          <div class="summary__container">
            <div class="summary__container__file--name">
              <p class="summary__text"></p>
            </div>
            <div class="summary__container__other--info">
              <p class="summary__text" data-original></p>
              <p class="summary__text"></p>
              <p class="summary__text mobile__hidden"></p>
              <p class="summary__text mobile__hidden"></p>
              <a class="summary__text mobile__hidden" data-download
                ><img
                  src="/img/Download.svg"
                  alt="Download"
                  width="40"
                  height="40"
              /></a>
            </div>
          </div>
        </template>
      </section>
      <div class="download__all" data-download-btn>
        <a data-download-all>
          <button class="download__all__button mobile__button">
            Download All
          </button>
        </a>
      </div>
    </main>
    <section class="about__compression">
      <div class="about__compression__container">
        <div class="about__compression__container__title">
          <h2>What is image compression?</h2>
        </div>
        <div class="about__compression__container__content">
          <p>
            Image compression is the process of reducing the size of an image
            file without significantly degrading its quality. This is done to
            make images more manageable in terms of storage space and to improve
            website loading times.
          </p>
          <p>
            When you upload images to your website, they can take up a lot of
            storage space and increase the time it takes for your website to
            load. Large image files can slow down your website's performance and
            negatively impact the user experience. By compressing your images,
            you can reduce their file size without sacrificing their quality,
            which can lead to faster loading times and a better user experience
            for your website visitors.
          </p>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__container__content">
          <p>Bartosz Buko 2023 OptiAmazer &copy; All rights reserved</p>
        </div>
      </div>
    </footer>
    <script>
            const isRendered = <%= rendered %>;
            if (isRendered) {
              const data = <%- JSON.stringify(imageData) %> ;
              // console.log(data);
              const downloadBtn = document.querySelector("[data-download-btn]");
              const downloadAllBtn = document.querySelector("[data-download-all]");
              const summary = document.querySelector("[data-summary]");
              const originalNames = <%- JSON.stringify(names) %> ;
              // console.log(originalNames);

              // variables for rounded sizes
              let roundedOriginalSize;
              let roundedOptimizedSize;
              let roundedSavedSize;
              let savedPercentage;




              for (let i = 0; i < data.length; i++) {
                // template
                const template = document.querySelector("#summary__template");
                const summaryContainer = document.querySelector(".summary");
                const clone = template.content.cloneNode(true);
                const paragraphs = clone.querySelectorAll("p");
                const href = clone.querySelector("a");

                // append to DOM
                summaryContainer.appendChild(clone);

                // elements
                const cutName = originalNames[i].length > 10 ? originalNames[i].slice(0, 10) + "..." : originalNames[i];

                const fileName = paragraphs[0];
                const originalSize = paragraphs[1];
                const optimizedSize = paragraphs[2];
                const savedSize = paragraphs[3];
                const savedPercent = paragraphs[4];
                const downloadLink = href;


                downloadBtn.style.display = "block";

                // round sizes and add values
                roundPercent(i)

                fileName.textContent = cutName;
                originalSize.textContent = roundedOriginalSize;
                optimizedSize.textContent = roundedOptimizedSize;
                savedSize.textContent = roundedSavedSize;
                savedPercent.textContent = savedPercentage;
                downloadLink.addEventListener("click", () => {
                downloadImage(data[i].url, `OptiAmazed_${originalNames[i]}`);
              });
                summary.style.display = "flex";

                if(i === data.length - 1) {
                  document.querySelectorAll(".summary__container")[i].classList.add("last__item")
                }
              }





              // download all
              downloadAllBtn.addEventListener("click", () => {
                data.forEach((data, i) => {
                  const originalName = originalNames[i];
                  downloadImage(data.url, `OptiAmazed_${originalName}`);
                });
              });

              function downloadImage(url, name){
            fetch(url)
              .then(resp => resp.blob())
              .then(blob => {
                  const url = window.URL.createObjectURL(blob);
                  const a = document.createElement('a');
                  a.style.display = 'none';
                  a.href = url;
                  a.download = name;
                  document.body.appendChild(a);
                  a.click();
                  window.URL.revokeObjectURL(url);
              })
              .catch(() => alert('An error sorry'));
      }

          function roundPercent(i) {
                 roundedOriginalSize = Math.round((data[i].original_size / 1000) * 10 ) / 10;
              if (parseFloat(roundedOriginalSize) > 1000) {
                roundedOriginalSize = `${Math.round((roundedOriginalSize / 1000) * 10 ) / 10}MB`;
              } else {
                roundedOriginalSize = `${roundedOriginalSize}KB`;
              }

               roundedOptimizedSize =  Math.round((data[i].optimized_size / 1000) * 10 ) / 10;
              if (parseFloat(roundedOptimizedSize) > 1000) {
                roundedOptimizedSize = `${Math.round((roundedOptimizedSize / 1000) * 10 ) / 10}MB`;
              } else {
                roundedOptimizedSize = `${roundedOptimizedSize}KB`;
              }
               roundedSavedSize = Math.round((data[i].saved_bytes / 1000) * 10 ) / 10;
              if (parseFloat(roundedSavedSize) > 1000) {
                roundedSavedSize = `${Math.round((roundedSavedSize / 1000) * 10 ) / 10}MB`;
              } else {
                roundedSavedSize = `${roundedSavedSize}KB`;
              }
               savedPercentage = `${data[i].saved_percent}%`;
              }


            }
    </script>
  </body>
</html>
